In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\softwares\python-3128\lib\site-packages (9.4.0)

In [1]:
import mysql.connector
import random
from datetime import datetime

In [4]:
# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",         # change if needed
    password="pcps@123",
    database="laravelmysql"
)
cursor = conn.cursor()

# Sample Nepali first and last names
first_names = [
    "Krishna", "Bikash", "Sita", "Aarati", "Prakash", "Sunita", "Anish", "Laxmi", "Dipendra", "Sabina",
    "Manoj", "Kiran", "Bimal", "Nabin", "Gita", "Anjana", "Rajendra", "Sujata", "Roshan", "Suman"
]
last_names = [
    "Shrestha", "Aryal", "Gurung", "Thapa", "KC", "Rai", "Tamang", "Basnet", "Karki", "Maharjan",
    "Pandey", "Bista", "Magar", "Lama", "Acharya", "Poudel", "Regmi", "Shah", "Bhattarai", "Rijal"
]

# Courses and Levels
courses = [
    "BSc CSSE", "BBA", "BSc IT", "BIT", "BCA", "BBM", "BSc CSIT"
]
levels = ["L4", "L5", "L6"]
sections = ["A", "B", "C", "D"]

# Generate and insert 10,000 records
records = []
for i in range(1, 10001):
    full_name = f"{random.choice(first_names)} {random.choice(last_names)}"
    course = random.choice(courses)
    level = random.choice(levels)
    section = random.choice(sections)
    created_at = datetime.now()
    updated_at = datetime.now()
    records.append((i, full_name, course, level, section, created_at, updated_at))

query = "INSERT INTO students (id, fullname, course, courseyear, section, created_at, updated_at) VALUES (%s, %s, %s, %s, %s, %s, %s)"
cursor.executemany(query, records)
conn.commit()

print("✅ 10,000 records inserted successfully!")

cursor.close()
conn.close()

✅ 10,000 records inserted successfully!